*.pdf
*.ps
*.midi
*.mid
*.log
*~
*.xml
*.ly
# Adding .txt files to enable requirements.txt; can make more specific later
# *.txt

.DS_Store

# Force inclusion of example files
!example*

# List .wav later, to prevent example .wav files from being added
*.wav